.footer {
  background-color: #A3ECE4;
  padding: 20px 0;
  text-align: center;
  position: relative;
  z-index: 10; 
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.8rem;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #333;
  text-decoration: none;
}

.footer-section .social-media-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #333;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.footer-bottom a {
  color: #333;
  text-decoration: none;
}
