
.hero{
    padding: 20px;    
    background-color: #F5F5F5; 
    display: flex;
    justify-content: center;  
    align-items: center;  
           
}


.hero-content{
    font-size: 2em;
}

.hero-section{
    width: 50%;
    height: 50vh;
    background-image: url('../images/Home.png');
    background-size:cover;
    background-position: right top;
    background-repeat: no-repeat;
}

