header{
    background-color: #ffffff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 0 20px;
}

.logo{
    color: greenyellow;
}

em{
    color: aqua;
}
nav ul {
    display: flex; 
    
}

nav ul li {
    list-style: none;
   margin-right: 70px; 
}
  


button{
    background-color: aqua;
    color: black;
    width: 140px;
    padding: 10px;
    margin-right: 70px;
    border: none;
}